<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EstateMonitor | Login</title>
</head>
<body>
    <h1>Welcome to EstateMonitor</h1>
    <form action="/authenticate" method="get">
        <div class="login-container">
            <label name="username">Username</label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label name="password">Password</label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>
        </div>
    </form>

</body>
</html>